/* Main Styles --------------*/
body {
    font-family: 'Merriweather', serif;
    color: #672d1e;
}

h1 {
    background: #672d1e;
    color: white;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-top: 25px;
    padding-bottom: 25px;
}

header,
footer {
    text-align: center;
}

hr {
    height: 14px;
    border-top: 8px solid #672d1e;
    border-bottom: 4px solid #672d1e;
}

form {
    border-bottom: 4px solid #672d1e;
}

fieldset {
    border: 0;
}


/* Media Queries --------------*/

@media (min-width: 768px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}