/* Main Styles --------------*/
body {
  font-family: 'Merriweather', serif;
  color: #672d1e;
}

h1 {
  background: #672d1e;
  color: white;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-top: 25px;
  padding-bottom: 25px;
}

header,
footer {
  text-align: center;
}

hr {
  height: 4px;
  border-left: 0;
  border-right: 0;
  border-top: 8px solid #672d1e;
  border-bottom: 4px solid #672d1e;
}

.bottom-border {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 4px solid #672d1e;
}

.clear-borders {
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 89%;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input:focus,
select:focus,
textarea:focus {
  border: 4px dashed #71afd7;
}

::placeholder {
  text-align: right;
  color: darkslategray;
}

select {
  color: #672d1e;
  width: 98%;
}

select:focus {
  color: darkslategray;
}

option {
  color: #672d1e;
}

option:first-of-type {
  color: darkslategray;
}

legend,
h2,
button {
  font-size: 1.2em;
  font-weight: bold;
}

legend {
  padding-top: 1em;
  padding-bottom: 1em;
}

input,
select,
textarea {
  border-radius: 5px;
}

footer {
  font-size: .8em;
  font-style: italic;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #23c58f;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 92%;
  border: 1px solid #23c58f;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  display: inline-block;
}

button:active {
  background-color: darkgreen;
  border: darkgreen;
}

fieldset:last-of-type label:nth-of-type(5),
fieldset:last-of-type label:last-of-type {
  margin-top: 1em;
}

/* place this class in a parent to center children.  Also make sure children are set to inline-block. --------------*/
.center {
  text-align: center;
}


/* .rl-match is used to match the default left and right space of the fieldset --------------*/
.rl-match,
fieldset {
  padding-left: 0;
  padding-right: 0;
  margin-left: 12px;
  margin-right: 12px;
}


/* Media Queries --------------*/

@media (min-width: 768px) {
  .container {
    width: 50%;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  padding-left: 0;
}

label[for="city"] {
  padding-right: 54px;
}

label[for="state"] {
  padding-right: 1px;
}
}